node_modules/
ai_service/moondream2/
.env
*.bin
*.pt
*.safetensors
__pycache__/

# Firebase credentials
configuration/firebase-service-account.json.json
config/firebase-service-account.json
firebase-service-account.json
firebase-service-account.json.enc
firebase-service-account.json.enc.key

firenaseAdmin.ksc